*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ProximaNova-Regular */
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Proxima Nova"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#MerriweatherSans") format("svg"); }

body {
  font-family: "Proxima Nova", serif; }

.first__section {
  background: url("../img/bg_first.jpg") no-repeat center;
  -moz-background-size: cover;
  background-size: cover;
  height: 750px;
  color: white; }

.header {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px; }

.header__menu {
  padding-top: 40px; }

.header__menu-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }

.header__menu-item {
  padding-right: 35px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s; }
  .header__menu-item:last-child {
    padding-right: 0; }
  .header__menu-item:hover {
    margin-top: -4px; }

.header__menu-link {
  color: white; }
  .header__menu-link:hover {
    color: white;
    text-decoration: none; }

.first__body-h1 {
  font-size: 88px;
  line-height: 1; }

.first__body-tit {
  font-size: 33px; }

.first__section-content {
  height: 100%;
  position: relative; }

.first__body {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.whu__section {
  position: relative; }

.whu__body {
  padding-top: 250px;
  padding-bottom: 170px; }

.content__h2 {
  font-size: 48px; }

.whu__body-text {
  line-height: 1.8;
  font-size: 20px; }

.whu__img {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 50px;
  max-width: 620px; }
  .whu__img img {
    width: 100%; }

.our__section {
  position: relative; }

.our__content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.our__img {
  position: absolute;
  left: 0;
  top: 0; }
  .our__img img {
    max-width: 100%; }

.our__body {
  padding-top: 175px; }

.our__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style-type: none;
  color: #794a79; }

.our__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .our__item img {
    max-width: 100%; }

.our__item-tit {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 28px; }

.our__item-sub {
  font-size: 20px;
  text-transform: uppercase; }

.our__body-text {
  font-size: 20px;
  line-height: 1.8; }

.header__burger {
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0; }

@media screen and (max-width: 1200px) {
  .header__menu-list {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0; }
  .header__menu-list.open {
    padding-top: 40px;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
    opacity: 1;
    visibility: visible;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    text-align: center; }
    .header__menu-list.open .header__menu-item {
      font-size: 25px;
      margin-bottom: 20px;
      padding-right: 0; }
      .header__menu-list.open .header__menu-item:hover {
        margin-top: 0; }
  .header__burger {
    z-index: 10;
    visibility: visible;
    opacity: 1;
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .header__burger:hover {
      background: rgba(255, 255, 255, 0.8); }
    .header__burger #hamburger {
      position: absolute;
      height: 100%;
      width: 100%; }
      .header__burger #hamburger span {
        -webkit-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        width: 60px;
        height: 4px;
        position: relative;
        top: 24px;
        left: 20px;
        margin: 10px 0;
        display: block;
        background: #566973;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        .header__burger #hamburger span:nth-child(1) {
          -webkit-transition-delay: .5s;
          -moz-transition-delay: .5s;
          -o-transition-delay: .5s;
          transition-delay: .5s; }
        .header__burger #hamburger span:nth-child(2) {
          -webkit-transition-delay: .625s;
          -moz-transition-delay: .625s;
          -o-transition-delay: .625s;
          transition-delay: .625s; }
        .header__burger #hamburger span:nth-child(3) {
          -webkit-transition-delay: .75s;
          -moz-transition-delay: .75s;
          -o-transition-delay: .75s;
          transition-delay: .75s; }
    .header__burger #cross {
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
      .header__burger #cross span {
        -webkit-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        display: block;
        background: #566973;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        .header__burger #cross span:nth-child(1) {
          height: 0%;
          width: 4px;
          position: absolute;
          top: 10%;
          left: 48px;
          -webkit-transition-delay: 0s;
          -moz-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s; }
        .header__burger #cross span:nth-child(2) {
          width: 0%;
          height: 4px;
          position: absolute;
          left: 10%;
          top: 48px;
          -webkit-transition-delay: .25s;
          -moz-transition-delay: .25s;
          -o-transition-delay: .25s;
          transition-delay: .25s; }
  #menu-toggle.open #hamburger span {
    width: 0%; }
    #menu-toggle.open #hamburger span:nth-child(1) {
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    #menu-toggle.open #hamburger span:nth-child(2) {
      -webkit-transition-delay: .125s;
      -moz-transition-delay: .125s;
      -o-transition-delay: .125s;
      transition-delay: .125s; }
    #menu-toggle.open #hamburger span:nth-child(3) {
      -webkit-transition-delay: .25s;
      -moz-transition-delay: .25s;
      -o-transition-delay: .25s;
      transition-delay: .25s; }
  #menu-toggle.open #cross span:nth-child(1) {
    height: 80%;
    -webkit-transition-delay: .625s;
    -moz-transition-delay: .625s;
    -o-transition-delay: .625s;
    transition-delay: .625s; }
  #menu-toggle.open #cross span:nth-child(2) {
    width: 80%;
    -webkit-transition-delay: .375s;
    -moz-transition-delay: .375s;
    -o-transition-delay: .375s;
    transition-delay: .375s; } }

@media screen and (max-width: 800px) {
  .whu__body, .our__body {
    padding: 70px 0;
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .whu__img {
    float: right; }
  .whu__img, .our__img {
    position: relative;
    margin-top: 0; }
  .our__item {
    width: 50%; } }

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .whu__body, .our__body {
    padding: 70px 0; }
  .whu__img, .our__img {
    width: 400px; } }

@media screen and (max-width: 575px) {
  .first__body {
    padding-left: 20px; }
  .first__body-h1 {
    font-size: 65px; }
  .first__body-tit {
    font-size: 25px; } }

@media screen and (max-width: 330px) {
  .our__item-tit {
    font-size: 25px; }
  .our__item-sub {
    font-size: 16px; } }
